root.dir=C:\\Users\\Kaushal\\Documents\\Education\\SemesterI\\wikiindexer-master
dump.filename=five_entries2.xml
tknizer.nthreads=1
tmp.dir=/Users/nikhillo/tmp/
punct.rule=src.edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Punctuation
apos.rule=src.edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Apostrophe
hyph.rule=src.edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Hyphen
spch.rule=src.edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.SpecialChars
space.rule=src.edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.WhiteSpace
date.rule=src.edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Dates
accnt.rule=src.edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Accents
stwrds.rule=src.edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.StopWords
captl.rule=src.edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Capitalization
nmbrs.rule=src.edu.buffalo.cse.ir.wikiindexer.tokenizer.rules.Numbers
pretkn.rules=DATES

term_dictionary=\\src\\edu\\buffalo\\cse\\ir\\wikiindexer\\dictionary\\term_dictionary.txt

author_dictionary=\\src\\edu\\buffalo\\cse\\ir\\wikiindexer\\dictionary\\author_dictionary.txt

link_dictionary=\\src\\edu\\buffalo\\cse\\ir\\wikiindexer\\dictionary\\link_dictionary.txt

category_dictionary=\\src\\edu\\buffalo\\cse\\ir\\wikiindexer\\dictionary\\category_dictionary.txt

document_dictionary=\\src\\edu\\buffalo\\cse\\ir\\wikiindexer\\dictionary\\document_dictionary.txt

term_index=\\files\\index\\term_index.txt

author_index=\\files\\index\\author_index.txt

link_index=\\files\\index\\link_index.txt

category_index=\\files\\index\\category_index.txt


 